*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Oswald, helvetica, arial, sans-serif;
}
.mainTitle{
    display: flex;
    font-size: 30px;
    line-height: 40px; /*altura del título*/
    padding: 40px;
    justify-content: center;
}
.firstScreen{
    background-image: url(../img/forest.jpg);
    display: none;
    min-height: 100vh; 
}
.contFirstScreen{
    display: flex;
    padding: 10px;
    margin: auto;
    text-align: center;
   
}
.contFirstScreen img{
    width: 35%;
    height: 35%;
    margin: auto;
    padding-left: 30px;
}
.intro{
    margin:40px;
    background-color: #d2cbc8cf;
    border-radius: 15px;
    position: relative;
}
#hello{
    font-size: 25px;
    margin: 15px;
}
#message{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    margin: 25px;
    margin-left: 30px;
    padding-right: 40px;

}
.firstScreenButtons{
    border-radius: 5px;
}
#btnStart, #topTen{
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
}
#masterImage{
    width: 18%;
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: -50px;
}
#giftImage{
    width: 20%;
    margin-left: -300px;
    position: absolute;
    height: auto;
    margin-top: -30px;
}


.secondScreen{
    display: block;
}
