*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.mainTitle{
    display: flex;
    font-size: 30px;
    line-height: 40px; /*altura del título*/
    padding: 40px;
    justify-content: center;
}
.contFirstScreen{
    display: flex;
    padding: 10px;
    background-color:blue;
    margin: auto;
    text-align: center;
   
}
.contFirstScreen img{
    width: 35%;
    height: 35%;
    margin: auto;
}
.intro{
    margin:20px;
}
#hello{
    font-size: 25px;
    margin: 15px;
}
#message{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    margin: 25px;
}
/* .firstScreenButtons{
    /* width: 150px;
    margin: 5px; */
#btnStart, #topTen{
    margin: 15px;
    padding: 15px;
}